/*Universal CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===============================Design Navbar=============================== */
.navBar {
  height: 80px;
  display: flex;
  padding-left: 50px;
  background-color: #0ff4ce;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.NavLogo {
  width: 200px;
  height: 40px;
  object-fit: cover;
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.searchBar input {
  height: 50px;
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 20px;
}
.navList {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: right;
  padding: 50px;
}
.searchIcon_div {
  background-color: rgb(35, 122, 202);
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchIcon_div:hover {
  cursor: pointer;
  background-color: rgba(40, 129, 212, 0.824);
  .searchIcon {
    width: 23px;
    height: 23px;
  }
}
.searchIcon {
  width: 24px;
  height: 24px;
}
.navList li:hover {
  color: white;
  cursor: pointer;
}

/*Design Home Page*/
.HomeContainer {
  background-image: url("./assets/HomeBg.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.secondContainer {
  margin-top: 250px;
  position: absolute;
  width: 60%;
  font-family: "Roboto", sans-serif;
  color: rgb(6, 133, 88);
  padding-left: 100px;
  text-shadow: 2px 2px 6px gray;
}
.secondContainer h1 {
  font-size: 50px;
}
.container-animation{
  display: flex;
  justify-content: right;
}
.HomeAnimation {
  width: 600px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.HomeAnimationSource{
  height: 550px;
  width: 700px;
}
.getStarted{
  margin-top: 50px;
}
.getStarted button{
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgb(35, 122, 202);
  color: white;
}
.getStarted button:hover{
  background-color: rgba(40, 129, 212, 0.824);
  cursor: pointer;
}


/*=======================================Design Footer========================================*/
.footerContainer{
  display: flex;
  background-color: #0ff4ce;
}
.legalLinks{
  display: flex;
  padding: 20px;
}
.copyRight{
  padding: 20px;
  color: rgb(6, 133, 88);
}
.legalLinks li{
  list-style-type: none;
  color: rgb(6, 133, 88);
}
.legalLinks ul {
  display: flex;
  gap: 20px;
}
.legalLinks li:hover{
  color: rgb(6, 133, 88);
  text-decoration: underline;
  cursor: pointer;
}